<h1>Clinic: <%= @clinic.name %></h1>
<h2>Speaker: <%= @clinic.speaker %></h2>
<h2>Description: <%= @clinic.description %></h2>
<h3>Comments:</h3>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <strong><%= comment.asker  %></strong>: <%= comment.body %>
    </li>
  <% end %>
</ul>

<h3>Students:</h3>
<ul>
  <% @students.each do |student| %>
    <li>
      <%= student.name %>
    </li>
  <% end %>
</ul>
